alembic==1.6.5
SQLAlchemy==1.4.18
flask==1.1.2
Flask-Migrate==2.7.0
flask_restplus==0.13.0
werkzeug==0.16.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
python-dateutil==2.8.1
psycopg2-binary==2.9.1